// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$input-width: 80%;

textarea.content {
  font-family: helvetica, sans-serif;
  font-size: 20px;
  line-height: 1.6em;
  width: $input-width;
}

input {
  width: $input-width;
}


