// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$input-width: 80%;

textarea.content {
  width: $input-width;
  font-size:1rem;
  font-family: monospace;
  line-height:1.4;
  max-width:60rem;
  margin:0 auto;
  padding:1rem;
}

input {
  width: $input-width;
  font-size:1rem;
  font-family: monospace;
  line-height:1.4;
  max-width:60rem;
  margin:0 auto;
  padding:1rem;
}


